<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserID</key>
	<string></string>
	<key>PhoneNumber</key>
	<string></string>
	<key>UserAccount</key>
	<string></string>
	<key>EmailAddress</key>
	<string></string>
	<key>UserPassword</key>
	<string></string>
	<key>UserName</key>
	<string></string>
	<key>UserImage</key>
	<data></data>
	<key>Gender</key>
	<string></string>
	<key>Birthday</key>
	<string></string>
	<key>Address</key>
	<string></string>
</dict>
</plist>
