<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserID</key>
	<string>FTecTGU9uhhzWH2pmkbN0edj0ql2</string>
	<key>PhoneNumber</key>
	<string>0912345678</string>
	<key>UserAccount</key>
	<string>robohood83</string>
	<key>EmailAddress</key>
	<string>robohood83@gmail.com</string>
	<key>UserPassword</key>
	<string>1234567</string>
	<key>UserName</key>
	<string>James</string>
	<key>UserImage</key>
	<data></data>
	<key>Gender</key>
	<string>男性</string>
	<key>Birthday</key>
	<string>1980/08/08</string>
	<key>Address</key>
	<string>台南市</string>
</dict>
</plist>
